@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

img {
    max-width: 100px;
    width: 100%;
}

.nav-link {
    font-weight: 600;
    color: #000;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown>.dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.fa-solid {
    font-size: 1.5rem;

}

.fa-xmark {
    font-size: 2rem;
}